In [2]:
import os 
import numpy as np
import pandas as pd
df = pd.read_csv('Tinder Millennial Match Rate Dataset.csv')
df

,ID,Segment Type,Segment Description,Answer,Count,Percentage,It became a Relationship
0,292881,Mobile,Mobile respondents,Yes,797,0.207,Yes
1,292883,Mobile,Mobile respondents,No,1969,0.511,No
2,292885,Mobile,Mobile respondents,I don't use Tinder,1090,0.283,Yes
3,292887,Web,Web-based respondents,Yes,0,0.000,No
4,292889,Web,Web-based respondents,No,0,0.000,No
...,...,...,...,...,...,...,...
448,293777,University,Boston College,No,4,0.800,Yes
449,293779,University,Boston College,I don't use Tinder,1,0.200,No
450,293781,University,Boston University,Yes,2,0.333,Yes
451,293783,University,Boston University,No,3,0.500,No
452,293785,University,Boston University,I don't use Tinder,1,0.167,No

In [67]:
df.describe()

                  ID        Count  Percentage
count     453.000000   453.000000  453.000000
mean   293333.000000    22.373068    0.331141
std       261.828188   136.996075    0.316157
min    292881.000000     0.000000    0.000000
25%    293107.000000     0.000000    0.000000
50%    293333.000000     1.000000    0.250000
75%    293559.000000     4.000000    0.500000
max    293785.000000  1969.000000    1.000000

In [58]:
dfF1 = df[df['Segment Description']=='Female respondents']

In [59]:
dfF2 = df[df['Segment Description']=='Male respondents']

In [60]:
frames = [dfF1, dfF2]

In [62]:
result = pd.concat(frames)

In [68]:
result

,ID,Segment Type,Segment Description,Answer,Count,Percentage,It became a Relationship
9,292899,Gender,Female respondents,Yes,325,0.198,No
10,292901,Gender,Female respondents,No,797,0.487,Yes
11,292903,Gender,Female respondents,I don't use Tinder,516,0.315,No
6,292893,Gender,Male respondents,Yes,472,0.213,Yes
7,292895,Gender,Male respondents,No,1172,0.528,No
8,292897,Gender,Male respondents,I don't use Tinder,574,0.259,No

In [69]:
resultYes = result[result['Answer']=='Yes']

In [70]:
resultYes

,ID,Segment Type,Segment Description,Answer,Count,Percentage,It became a Relationship
9,292899,Gender,Female respondents,Yes,325,0.198,No
6,292893,Gender,Male respondents,Yes,472,0.213,Yes